
// COLORS




html, body
  //lost-utility edit
  border 0
  margin 0
  width 100%
  height 100%
  font-size 16px
  font-weight normal
  color white
  box-sizing: border-box;
  font-family: 'Raleway', Arial

*
  //outline: 1px solid black
  box-sizing: border-box;

img
  max-width 100%
