.parallax#cta
  #newsletter.container
    .icon-divider
      img(src="images/lh_cta.svg", alt="")
    #newsletter-inner
      h1#quote
        | When everything seems lost.
        br
        | When 
        span.bold your humanity 
        | has gone. 
        br
        br
        span.bold We're looking for humans.
      
    #form
      h3 Get in touch and be the human we're looking for.
      p No spam. Just crazy good stuff.
      
      form(action="//losthumanitygame.us14.list-manage.com/subscribe/post?u=aacbbf04b29249a1c707a5cfe&amp;id=38790a2d10", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
        input(type="email", placeholder="example@mail.com")
        div(style='position: absolute; left: -5000px;')
          input(type='text', name='b_aacbbf04b29249a1c707a5cfe_38790a2d10', tabindex='-1', value='')
        button.submit(value="Iscriviti", name="subscribe", id="mc-embedded-subscribe")
          | Subscribe
      
      #successo.hide
        //img(src="images/success.svg", alt="")
        p 
          | Check your mail!
      
      #fallimento.hide
        p 
          span Something get lost.
          br
          br
          | If you continue to get errors, contact us on Facebook
          br
      
      
      #social
        ul
          li
            a(href="https://www.facebook.com/Lost-Humanity-143509892759499/" target="_blank")
              img(src="images/fb.svg", alt="")
          li.hide
            a(href="#")
              img(src="images/ig.svg", alt="")
          li
            a(href="https://twitter.com/_losthumanity" target="_blank")
              img(src="images/tw.svg", alt="")
          li.hide
            a(href="#")
              img(src="images/rd.svg", alt="")
          li.hide
            a(href="#")
              img(src="images/ks.svg", alt="")
    
    
      
    

// #parallax(data-stellar-background-ratio="0.25")
  //.parallax-inner
