#feed.container
  #feed-inner
    #feed-list
      .feed-el-simple#feed-el-one
        .promo
          p Chapter 
            span.bold ONE 
            | out now!
        .filter
        .feed-el-img#feed-img-one
          img(src="images/slider-war.png", alt="")
        .cross
          img(src="images/cross.svg", alt="")
        .feed-el-inner
          .feed-el-title
            p Songs from the past
          .feed-el-content
            p Join lieutenant Alistair G. Evanescent, in a 
              span.bold prologue adventure 
              | that will introduce you to the Lost Humanity Universe.
          .feed-el-cta
            .menu__list
              .menu__item
                a.menu__link(href='#') Read now
      .feed-el-simple#feed-el-two
        .filter
        .feed-el-img
          img(src="images/slider-war.png", alt="")
        .cross
          img(src="images/cross.svg", alt="")
        .feed-el-inner
          .feed-el-title
            p The Birth of a game 
              span OUT SOON
          .feed-el-content
            p Meet the passionate guys behind LH and read how we're making the game, 
              span.bold technologies 
              | and 
              span.bold design process. 
          .feed-el-cta
            .menu__list
              .menu__item.scrollToMail
                //a.menu__link(href='#') Discover
                .menu__link Get notified when available
      
