#feed.container
  #feed-inner
    #feed-list.owl-carousel
      .feed-el#feed-el-one(style="z-index:30")
        .filter
        .feed-el-img#feed-img-one
          img(src="images/slider-war.png", alt="")
        .cross
          img(src="images/cross.svg", alt="")
        .feed-el-inner
          .feed-el-title
            p The Game
          .feed-el-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          .feed-el-cta
            .menu__list
              .menu__item
                a.menu__link(href='#') Discover
      .feed-el(style="z-index:29")
        .feed-el-img#feed-img-one
          img(src="images/slider-planet.png", alt="")
        .feed-el-inner
          .feed-el-title
            p LH Universe
          .feed-el-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          .feed-el-cta
            .feed-el-cta
              .menu__list
                .menu__item
                  a.menu__link.animsition-link(href='http://google.it') Discover
      .feed-el(style="z-index:28")
        .feed-el-inner
          .feed-el-img
            img(src="", alt="")
          .feed-el-title
            p ErlPGA 5700l
          .feed-el-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          .feed-el-cta
            .feed-el-cta
              .menu__list
                .menu__item
                  a.menu__link(href='#') Discover
      .feed-el(style="z-index:27")
        .feed-el-inner
          .feed-el-img
            img(src="", alt="")
          .feed-el-title
            p Lorem Ipsum
          .feed-el-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          .feed-el-cta
            .feed-el-cta
              .menu__list
                .menu__item
                  a.menu__link(href='#') Discover
