#footer-up
  img(src="images/footer.png", alt="")
#footer.container
  #footer-inner
    #logo
      //img(src="#", alt="")
    #etc
      p Lost Humanity - All Rights Reserved
    #scrollTop.elevator-button
      p SCROLL TO TOP
