#hero.container
  button#style-rect.button
    img(src="images/style-rect.svg", alt="")
  .hero-img.lvl1(data-stellar-ratio="0")
    img(src="images/lvl1.png", alt="")
  .hero-img.lvl1-falling
    .stars
  .hero-img.lvl1-1(data-stellar-ratio="0.03")
    img(src="images/stars.png", alt="")
  .hero-img.lvl2(data-stellar-ratio="0.15")
    img(src="images/lvl2.png", alt="")
  .hero-img.lvl3(data-stellar-ratio="0.25")
    img(src="images/lvl3.png", alt="")
  .hero-img.lvl4(data-stellar-ratio="0.3")
    img(src="images/lvl4.png", alt="")
  .hero-img.lvl5(data-stellar-ratio="0.35")
    img(src="images/lvl5.png", alt="")
  .hero-img.lvl6(data-stellar-ratio="0.01")
    img(src="images/lvl6.png", alt="")
  .hero-img.lvl7(data-stellar-ratio="1")
    img(src="images/lvl7a.png", alt="")
  
  .lvlTitle(data-stellar-ratio="0.06")
    .lvlTitle-inner
      img(src="images/logo.png", alt="")
      h1 Lost
        span Humanity
  
  .teamlogo
    //img(src="images/teamlogo.svg", alt="")
  
  //.background-hero-filler(data-stellar-ratio="1.3")
  
