#hero.container
  .topbar
    .topbar-inner
      a(href="/blog") Dev blog
      a#scrollTo(href="#hiring") Work with us!
  .js-hero-parallax
    .hero-img.lvl1(data-speed="1")
    .hero-img.lvl1-falling
      .stars
    .hero-img.lvl2(data-speed="10")
    .hero-img.lvl3(data-speed="20")
    .hero-img.lvl4(data-speed="30")
    .hero-img.lvl5(data-speed="42")
    .hero-img.lvl6(data-speed="2")
    .hero-img.lvl7(data-speed="100")
    
    .lvlTitle.hero-img(data-speed="6")
      .lvlTitle-inner
        img(src="images/logo_1.png", alt="")
        //- h1 Lost
        //-   span Humanity
    
    
  .js-hero-nonparallax
    .nonparallax-inner
