#hiring
  .icon-divider
    img(src="images/icon-hiring.png", alt="")
  #hiring-inner
    h3 We're looking for humans.
    #hiring-content
      #hiring-content-one.hiring-content-inner
        #hiring-image
          img(src="images/icon-hiring-artist.svg", alt="")
        
        #hiring-open
          p#h1-open Open Position
          p#h1-title Art Designer
          p#h1-txt Intersted in create stunning Sci-Fi concepts and elements?
            br
            | We need you!
            br
            br
            br
            span
              | * Write a brief presentation letter and attach your portfolio ;)
          
          .menu__list#hiring-button
            .menu__item
              a.menu__link(href='mailto:jobs@losthumanitygame.com?cc=nicolo.ottenga@losthumanitygame.com, marco.secco@losthumanitygame.com&subject=Artist LH Job', target="_blank") Apply Now!
              
      #hiring-content-one-b.hiring-content-inner
        #hiring-image
          img(src="images/icon-hiring-3d.svg", alt="")
        
        #hiring-open
          p#h1-open Open Position
          p#h1-title 3D Artist
          p#h1-txt Skillfull in 3D modeling, Animation, Texturing?
            br
            | Let's work together!
            br
            br
            br
            span
              | * Write a brief presentation letter and attach your portfolio ;)
          
          .menu__list#hiring-button
            .menu__item
              a.menu__link(href='mailto:jobs@losthumanitygame.com?cc=nicolo.ottenga@losthumanitygame.com, marco.secco@losthumanitygame.com&subject=3D Artist LH Job', target="_blank") Apply Now!
      
      #hiring-content-two.hiring-content-inner
        p#h2-open Opportunities
        p#h2-title Not an Art Designer?
        p#h2-txt
          | Still great! Our team is always looking for strong-minded, creative and passionate people to work with!
          br
          br
          | Are you a Unity Master? A Martketing ninja? A fullstack designer? 
          br
          br
          | Or you’re just curious? 
          br
          br
          | Let’s have a talk!
          br
          a(href="mailto:info@losthumanitygame.com") info@losthumanitygame.com
    
    


    
          
