#hiring
  .icon-divider
    img(src="images/icon-hiring.png", alt="")
  #hiring-inner
    h3 We're looking for humans.
    #hiring-content
      #hiring-content-one.hiring-content-inner
        #hiring-image
          img(src="", alt="")
        
        #hiring-open
          p#h1-open Open Position
          p#h1-title Art Designer
          p#h1-txt Intersted in create a in-game 2D isometric ambient and characters?
            br
            | We need you!
          
          .menu__list
            .menu__item
              a.menu__link(href='#') Apply Now!
      
      #hiring-content-two.hiring-content-inner
        p#h2-title Not an Art Designer?
        p#h2-txt
          | Still great! Our team is always looking for strong-minded, creativa and passionate people to work with!
          br
          br
          | Are you a Unity Master? A Martketing ninja? A fullstack designer? 
          br
          br
          | Or you’re just curious? 
          br
          br
          | Let’s have a talk!
          br
          br
          a(href="") team@losthumanity.co
    
    


    
          
