.overlay.overlay-hugeinc
  button.overlay-close(type='button') Close
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#') About
      li
        a(href='#') Work
      li
        a(href='#') Clients
      li
        a(href='#') Contact
