.parallax
  #newsletter.container
    .icon-divider
      img(src="images/icon-mail.svg", alt="")
    #newsletter-inner
      h3 Subscribe the newsletter, enroll for closed beta, and get exclusive content when the game’s out!
      form(action="//losthumanitygame.us14.list-manage.com/subscribe/post?u=aacbbf04b29249a1c707a5cfe&amp;id=38790a2d10", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
        input(type="email", placeholder="example@mail.com")
        div(style='position: absolute; left: -5000px;')
          input(type='text', name='b_aacbbf04b29249a1c707a5cfe_38790a2d10', tabindex='-1', value='')
        button.submit(value="Iscriviti", name="subscribe", id="mc-embedded-subscribe")
          | Subscribe
      
    #successo.hide
      img(src="images/success.svg", alt="")
      p 
        br
        span Yeah! Just one more step to be the human we're looking for.
        br
        br
        | Check your mail!
    
    #fallimento.hide
      img(src="images/fail.svg", alt="")
      p 
        br
        span Something get lost.
        br
        br
        | Reload the page and try again! 


// #parallax(data-stellar-background-ratio="0.25")
  //.parallax-inner
