doctype html
// if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
// if IE 7html.no-js.lt-ie9.lt-ie8(lang="en")
// if IE 8html.no-js.lt-ie9(lang="en")
//if gt IE 8
  | [if gt IE 8]
html.no-js(lang="en")
  // <![endif]
  head
    
      meta(charset="utf-8")
      meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
      title Lost Humanity
      meta(content="", name="description")
      meta(content="width=device-width, initial-scale=1, maximum-scale=1", name="viewport")
      meta(name="apple-mobile-web-app-capable", content = "yes")
      meta(name="apple-mobile-web-app-status-bar-style", content ="black")
      
      link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
      link(href="css/vendor.css", rel="stylesheet")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css", rel="stylesheet")
      link(href="css/app.css", rel="stylesheet")
      
      
  
  body
    
    
    
  
  
    block hero
      include partials/_hero.jade
    
    
    #content
      block intro
        include partials/_intro.jade
        
      block feed
        include partials/_feed.jade
      
      block newsletter
        include partials/_newsletter.jade
      
      block hiring
        include partials/_hiring.jade
        
    
    
    
      footer
        block footer
          include partials/_footer.jade
    
    
    block menu
      include partials/_menu.jade
      
      
      
      
    block scripts
      script(src="js/vendor.js") 
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
      script(src="js/app.js") 
      
